<?php
/* ****************************** *
 * config                         *
 ******************************** */

return [
    // データパス
    'dataPath' => __DIR__ . '/../data/data.json',
    // 開発環境用: CORS回避ヘッダのためのドメイン設定
    'cors'     => [
        'http(s)?:\/\/localhost:3000',
        'http(s)?:\/\/192\.168\.([1-9]?[0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):3000',
    ],
];
